<div class="content-wrapper" style="min-height: 525px;margin-top: 10px;">
    <section class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-shield fa-8x"></i></span>
            
                    <div class="info-box-content">
                      <span class="info-box-text">Total Support Staff</span>
                      <span class="info-box-number">
                        <!-- {{adminCount}} -->
                      </span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-hospital-symbol fa-8x"></i></span>
            
                    <div class="info-box-content">
                        
                      <span class="info-box-text">Total Hospitals</span>
                      <span class="info-box-number">
                          <!-- {{hospitalCount}} -->
                        </span>
                      
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
            
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>
            
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fal fa-user-md-chat fa-8x"></i></span>
            
                    <div class="info-box-content">
                      <span class="info-box-text"></span>
                      <span class="info-box-number">
                          <!-- {{doctorCount}} -->
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
<div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users fa-8x"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Total Patients</span>
        <span class="info-box-number">
            <!-- {{patientCount}} -->
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-info elevation-1"><i class="fas fa-chart-line fa-8x"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Active Clients</span>
        <span class="info-box-number">
            <!-- {{activeHospitalCount}} -->
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-info elevation-1"><i class="fas fa-chart-line fa-8x"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Total Users</span>
        <span class="info-box-number">
            {{userNum}}
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
</div>
</div>
</section>
</div>