<div class="row" >
  <div class="card"  *ngFor="let img of collectionPatientFile"style="text-align:center; padding: 10px; display: flex;flex-direction: row; ">
          
      <img  alt="Loading..." [src]="img"  style="width: 400px; margin-left: 10px; ">
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
          </div>
      </div>
          <div class="card" >
                  <span>No images for this Patient</span>
          </div>