

<!--New Dashboard for admin starts-->
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sticky-bar" *ngIf="(showAdminBoard) || (showHospital)||(showDoctor)">
    <div class="sticky-top">
  <ul class="navbar-nav bg-success sidebar sidebar-dark accordion" id="accordionSidebar">
      <div class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/homepage">
          <div class="sidebar-brand-icon ">
              <!-- <i class="fab fa-studiovinari"></i> -->
              <i class="fas fa-hospital fa-5x"></i>
          </div>
          <div class="sidebar-brand-text mx-3"> हाम्रो <sup> डाक्टर </sup> </div>
        
         
        </div>

 <hr class="sidebar-divider my-0">

 <!-- Nav Item - Dashboard -->
 <li class="nav-item active">
        <i class="far fa-clock fa-3x" ></i>
         <span style="color: black; font-size: large "><B>{{hour}}:{{minutes}}:{{seconds}}  {{ampm}}</B></span>
 </li>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active" style="margin-top: 13px;">
          <a class="nav-link" routerLink="/homepage">
              <i class="fas fa-fw fa-tachometer-alt fa-3x"></i>
              <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <div class="sidebar-heading">
      
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/noticeboard">
            <i class="fas fa-envelope-square fa-3x"></i>
            <span>Notice Board</span></a>
    </li>
  <hr class="sidebar-divider my-0">
      <!-- Heading -->
      <div class="sidebar-heading">
          Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              <i class="fa fa-users fa-5x " aria-hidden="true" ></i>
              <span style="font-size: 15px;">Users</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                
                  <a class="collapse-item" routerLink="/addUser">Add User</a>
                  <a class="collapse-item" routerLink="/doctor" *ngIf="showHospital">Doctors List</a>
                  <a class="collapse-item" routerLink="/user"  *ngIf="showAdminBoard"> List</a>
              </div>
          </div>
      </li>

      <li class="nav-item"  *ngIf="showDoctor">
        <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapsePatient"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-users fa-5x " aria-hidden="true" ></i>
            <span style="font-size: 15px;">Patients</span>
        </a>
        <div id="collapsePatient" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/patients">List</a>
                <a class="collapse-item" routerLink="/patientReq">Appointment Request</a>
                <a class="collapse-item" routerLink="/patientApproved">Appointed List</a>

            </div>
        </div>
    </li>

      <!-- Nav Item - Utilities Collapse Menu -->
     

        
      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilitie"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i  class="fas fa-mail-bulk fa-3x"></i>
            <span style="font-size: 15px;">Help Centre</span>
        </a>
        <div id="collapseUtilitie" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
               
                <a class="collapse-item" routerLink="/complain" *ngIf="showAdminBoard" >Show</a>
                <a class="collapse-item" routerLink="addComplain" >Add Complain/Query</a>
                
            </div>
        </div>
    </li>
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
     

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapsePages"
              aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-fw fa-folder"></i>
              <!-- <i class="fa fa-cog fa-spin fa-3x fa-fw"></i> -->
<!-- <span class="sr-only">More</span> -->
              <span style="font-size: 15px;">More</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                                  <a class="collapse-item" href="register.html">Register</a>
                         <a class="collapse-item" routerLink="/sendPassword" *ngIf="!showHospital"> Change Password </a>
                         <a class="collapse-item" routerLink="/sendMail" *ngIf="!showHospital"> send Mail </a>
                         <a class="collapse-item" routerLink="/pushMsg" *ngIf="!showHospital"> Push Message </a>
                  <div class="collapse-divider"></div>
                  
              </div>
          </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->

     


  </ul>
</div>
</div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-success topbar mb-4 static-top shadow" *ngIf="(showAdminBoard)||(showHospital)||(showDoctor)">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
              </button>


              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">

                  
                
                         <div class="container">
                      <div class="row">    
                          <div class="col-xs-8 col-xs-offset-2">
                              <!-- <div class="input-group">
                                  <input type="hidden" name="search_param" value="all" id="search_param">         
                                  <input type="text" class="form-control" name="x" placeholder="Search term...">
                                   <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>
                                          <i class="fas fa-search"></i>
                                      </button>
                                  </span> 
                              </div> -->
                          </div>
                      </div>
                  </div>
                  
                  


                  <div class="topbar-divider d-none d-sm-block"></div>
                 

                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="mr-2 d-none d-lg-inline text-white-600 medium"><B style="color: black;">{{username}}</B></span>
                          
                          <img class="rounded-circle mt-5" width="36px" height="50px" [src]="retriveImage" alt="Profile Picture" *ngIf="retriveImage" style="margin-bottom: 15px;"> 
                         
                          <img class="rounded-circle mt-5" width="40px" src="../assets/altprofile.png" alt="Profile Picture" *ngIf="!retriveImage">
                        </a>
                        <div style="margin-top: 15px;"></div>
                      <!-- Dropdown - User Information -->
                      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                          aria-labelledby="userDropdown">
                          <a class="dropdown-item" routerLink= "/profile">
                              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                              Profile
                          </a>
                          <a class="dropdown-item" routerLink="/changePassword">
                              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                              Change Password
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" (click)="logOut()" style="cursor: pointer;">
                              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                              Logout
                          </a>
                      </div>
                  </li>

              </ul>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

           
<router-outlet>  </router-outlet>


          </div>
          <!-- End of Main Content -->


      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" routerLink="/login">Logout</a>
              </div>
          </div>
      </div>
  </div>

  <!--New Dashboard for admin ends-->


  <!-- Bootstrap core JavaScript-->
  <script src="../.././assets/vendor/jquery/jquery.min.js"></script>
  <script src="../.././assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../.././assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../.././assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../assets/js/demo/chart-area-demo.js"></script>
  <script src="../../assets/js/demo/chart-pie-demo.js"></script>

  <!--New Dashboard for admin ends-->











