<!---------------------------------------This is for Doctor---------------------------------------------------------------->
<input type="text" class="form-Control" name="searchBox" [(ngModel)]="searchResult" (ngModelChange)="search()" placeholder="Enter to search">

<table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col" (click)="sort('id')">#<i class="fa fa-sort"></i></th>
       
        <th scope="col"> Full Name </th>
        <th scope="col"> Gender</th>
        <th scope="col"> Contact Number </th>
        <th scope="col"> Appointment Date </th>
      
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of userData | orderBy:key:reverse|  paginate: { itemsPerPage: 8 , currentPage: p }">
        
        <td>{{patient.id}}</td>
        <td>{{patient.fullname}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.contact}}</td>
        <td>{{patient.appointedDate}}</td>
       
        <td><Button class="btn btn-primary" (click)="updateClicked(patient.id)"><i class="fa fa-edit"></i>
        </Button>&nbsp;
        <!-- <Button class="btn btn-danger" *ngIf="!deleted"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)=""
          (cancel)="cancelClicked = true"><i class="fa fa-trash"></i></Button> </td> -->
      </tr>
        </tbody>
  </table>
  
  <Button class="btn btn-warning"
  mwlConfirmationPopover
  [popoverTitle]="popoverTitle"
  [popoverMessage]="popoverMessage"
  placement="left"
  (confirm)=" clearPatientList()"
  (cancel)="cancelClicked = true" style="margin-left: 350px;" *ngIf="!btn_hide">Clear List</Button>
  
  
  
  
  
  
  
  
  
  
  <!--Including the pagination control.-->
   <div class="text-right">
    <pagination-controls (pageChange)="p = $event" ></pagination-controls>
  </div>

