<div class="container rounded bg-white mt-5 mb-5">
  <div class="row" [hidden]="edit" >
    <div class="col-md-3 border-right">
      <div  *ngIf="hasProfileImage" class="d-flex flex-column align-items-center text-center p-3 py-5">
        <!-- <img class="rounded-circle mt-5" width="40px" [src]="retriveImage" alt="Profile Picture" *ngIf="retriveImage" style="margin-bottom: 15px;">  -->
        <img class="rounded-circle mt-5"
          width="150px" [src]="retriveImage"><span> </span></div>
          <div *ngIf="!hasProfileImage" class="d-flex flex-column align-items-center text-center p-3 py-5" >
                <img class="rounded-circle mt-5" width="150px" src="../assets/altprofile.png" alt="Profile Picture">
                <span> </span></div>
                <a data-toggle="modal" data-target="#addProfileModal" style="cursor: pointer; text-decoration: none;"
        *ngIf="!retriveImage"><button type="button" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i>Add Profile Picture</button></a>
        <a data-toggle="modal" data-target="#changeProfileModal" style="cursor: pointer; text-decoration: none;"
        *ngIf="retriveImage"><button type="button" class="btn btn-success btn-lg"><i class="fas fa-plus"></i>Change Profile Picture</button></a>
      
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="col-md-12"><label class="labels" > User Id
        </label><input type="text" class="form-control"
          placeholder="Detail not provided" value="{{userID}}" readonly></div>
        <div class="row mt-2">
          <div class="col-md-12" [hidden]="admin"><label class="labels">Full Name</label><input type="text"
              class="form-control" placeholder="Detail not provided" value="{{fullname}}" readonly></div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12" *ngIf="doctor"><label class="labels">Gender</label><input type="text"
              class="form-control" placeholder="Detail not provided" value="{{gender}}" readonly></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels" > Username
            </label><input type="text" class="form-control"
              placeholder="Detail not provided" value="{{username}}" readonly></div>
          <div class="col-md-12" id="profile" [hidden]="admin"><label class="labels"> Register Number </label><input type="text"
              class="form-control" placeholder="Detail not provided" value="{{regNum}}" readonly></div>
          <div class="col-md-12" id="profile" [hidden]="admin" *ngIf="hospital"><label class="labels"> PAN number </label><input type="text"
              class="form-control" placeholder="Detail not provided" value="{{panNum}}" readonly></div>
              <div class="col-md-12" id="profile" [hidden]="admin" *ngIf="doctor"><label class="labels"> Specialist </label><input type="text"
                class="form-control" placeholder="Detail not provided" value="{{specialist}}" readonly></div>
          <div class="col-md-12" id="profile"><label class="labels"> Email </label><input type="text"
              class="form-control" placeholder="Detail not provided" value="{{email}}" readonly></div>
              <div class="col-md-12" id="profile"><label class="labels">Contact Number(Primary)</label><input type="text"
                class="form-control" placeholder="Detail not provided" value="{{contactNumP}}" readonly></div>
          <div class="col-md-12" id="profile" [hidden]="admin"><label class="labels">Mobile Number</label><input type="text"
              class="form-control" placeholder="Detail not provided" value="{{mobileNum}}" readonly></div>
          <div class="col-md-12" id="profile" [hidden]="admin"><label class="labels"> Address:</label><input type="text"
              class="form-control" placeholder="Detail not provided" value="{{address}}" readonly></div>

          <div class="row mt-3" [hidden]="admin" *ngIf="hospital">
            <div class="col-md-6"><label class="labels">City</label><input type="text" class="form-control"
                placeholder="Detail not provided" value="{{city}}" readonly></div>
            <div class="col-md-6"><label class="labels"> District </label><input type="text" class="form-control"
                value="{{district}}" placeholder="Detail not provided" readonly></div>
          </div>

        </div>
        <div class="mt-5 text-center">
          <div class="mt-5 text-center">
          <a routerLink="/updateProfile"> <button type="button" class="btn btn-info" *ngIf=!newDoctor>Edit Profile</button>
        </a>
          </div>
          <div class="mt-5 text-center">
        <a routerLink="/fillProfile"> <button type="button" class="btn btn-info" *ngIf=newDoctor>Fill Profile</button>
        </a>
   </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal for adding profile pic-->
  <div class="modal fade" id="addProfileModal" tabindex="-1" role="dialog" aria-labelledby="addProfileModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProfileModalLongTitle">Add Profile Picture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Form start here -->
          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
            <div class="form-group">
              <label for="inputProfilePicture">Profile Picture</label>
              <input type="file" class="form-control" name="file" id="profile" (change)="selectFileHandler($event)"
                required />
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button (click)="uploadProfilePicture()" type="submit" class="btn btn-success">Add</button>
            </div>

          </form>


        </div>

      </div>
    </div>
  </div>

   <!--Modal for Change profile pic-->
   <div class="modal fade" id="changeProfileModal" tabindex="-1" role="dialog" aria-labelledby="changeProfileModalCenterTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="changeProfileModalLongTitle">Change Profile Picture</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">

         <!-- Form start here -->
         <form name="form" #f="ngForm" (ngSubmit)="f.form.valid " novalidate>
           <div class="form-group">
             <label for="inputProfilePicture">Profile Picture</label>
             <input type="file" class="form-control" name="file" id="profile" (change)="selectFileHandler($event)"
               required />
           </div>

           <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
             <button  type="submit" class="btn btn-success" (click)="changeProfilePic()">Upload</button>
           </div>
           <!-- //(click)="changeProfilePicture()" -->
         </form>


       </div>

     </div>
   </div>
 </div>
</div>